# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual envs
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.mo
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# IDE
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secrets/Env
.env
*.env
